{% extends 'base.html.twig' %}

{% block title %}Attraction Tickets Simple API search{% endblock %}

{% block body %}
        <section class="bg-gray-300 -mt-32">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap items-center mt-32">
                    <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
                        <h3 class="text-3xl mb-2 font-semibold leading-normal">Working with us is a pleasure</h3>
                        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">
                            Don't let your uses guess by attaching tooltips and popoves to
                            any element. Just make sure you enable them first via
                            JavaScript.
                        </p>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
