<div{{ attributes }}
    {% if isDisabled %}
    class="inline-block py-1 px-3 text-gray-400 cursor-not-allowed shrink"
    {% elseif isActive %}
        class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white shrink"
    {% else %}
        class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3 shrink"
    {% endif %}>

    <li class="mr-3">
        {% block content %}{% endblock %} {#{{ dump(this) }}#}
    </li>

</div>
